:root {
  font-size: 62.5%;
  font-family: 'Raleway';

  --stantard-fontsize: 1.5rem;

  --blue: #2a7ae4;
  --gray-800: #aaa;
  --gray-600: #888;
  --black-8: #3e3e3e;
  --black-9: #2e2e2e;
  --orange: rgb(255, 115, 0);
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #fefefe;
  color: #333;
}

body,
input::placeholder,
textarea::placeholder {
  font-size: var(--stantard-fontsize);
}

a,
button,
input,
textarea {
  font-family: inherit;
  border: none;
  background: none;
  text-decoration: none;
  outline: transparent;
  resize: none;
}

a:visited,
a:hover,
a:active,
a:link {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
  color: inherit;
}

svg {
  stroke: #555;
  width: 38px;
  height: auto;
  max-height: 38px;
}

.row {
  padding: 1rem 1.25rem;
}

.button {
  font-weight: 500;
  width: fit-content;

  display: flex;
  align-items: center;

  gap: 1rem;

  box-shadow: 0 0 1px 1px rgba(0, 102, 255, 0.05);
}

.button-primary {
  background-color: #222;
  color: #efefef;
  padding: 1.5rem 2.5rem;
  font-size: 1.75rem;
  box-shadow: 1px 10px 10px -10px rgba(0, 0, 0, 0.345);
  transition: background 0.2s ease;
}

.button-secondary {
  /* color: var(--blue); */
}

.button-icon {
  width: 20px;
}
