:root {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;

  --stantard-fontsize: 1.5rem;

  --blue: #2a7ae4;
  --black-8: #3e3e3e;
  --black-9: #2e2e2e;
  --orange: rgb(255, 115, 0);
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #fefefe;
}

body,
input::placeholder,
textarea::placeholder {
  font-size: var(--stantard-fontsize);
  color: var(--black-8);
}

a,
button,
input,
textarea {
  font-family: inherit;
  border: none;
  background: none;
  text-decoration: none;
  outline: transparent;
}

a:visited,
a:hover,
a:active,
a:link {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

svg {
  stroke: #555;
  width: 38px;
  height: 38px;
}

.row {
  padding: 1rem 1.25rem;
}

.button {
  padding: 1.5rem 2rem;
  border: 2px solid transparent;
  font-weight: 500;
  border-radius: 5px;
  width: fit-content;

  box-shadow: 0 0 1px 1px rgba(0, 102, 255, 0.05);
}

.button-primary {
  background-color: var(--blue);
  color: #efefef;
}

.button-secondary {
  border-color: var(--blue);
  color: var(--blue);
}

.button-icon {
  width: 20px;
}
