:root {
  font-size: 62.5%;
  font-family: "Raleway";

  --stantard-fontsize: 1.5rem;

  --warning: rgb(235, 46, 36);
  --primary: #222;
  --text-color-1: #222;
  --text-color-2: rgb(235, 46, 36);
  --text-color-3: #444;
  --text-color-4: #fcfcfc;
  --text-color-5: rgb(255 182 6);
  --text-color-6: #777;

  --border: 2px solid #999;
  --shadow: 1px 10px 10px -10px rgba(0, 0, 0, 0.345);
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #fcfcfc;
  color: var(--text-color-3);
}

body,
input::placeholder,
textarea::placeholder {
  font-size: var(--stantard-fontsize);
}

a,
button,
input,
textarea {
  font-family: inherit;
  border: none;
  background: none;
  text-decoration: none;
  outline: transparent;
  resize: none;
}

input,
textarea {
  font-size: 1.75rem;
}

a:visited,
a:hover,
a:active,
a:link {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
  color: inherit;
}

svg {
  stroke: var(--text-color-3);
  width: 38px;
  height: auto;
  max-height: 38px;
}

.row {
  padding: 1rem 1.25rem;
}

.button {
  display: flex;
  width: fit-content;
  align-items: center;
  font-weight: 500;
  gap: 1rem;
  border-radius: 5px;
}

.button-primary {
  background-color: var(--primary);
  color: var(--text-color-4);
  padding: 1.5rem 2.5rem;
  font-size: 1.75rem;
  box-shadow: var(--shadow);
}

.button-icon {
  width: 20px;
}
