.about__title {
  text-align: center;
  margin: 4rem;
  display: grid;
  place-items: center;
}

.about__logo {
  height: 48px;
}

.about__item {
  margin-bottom: 2.5rem;
  font-size: 1.75rem;
  text-align: center;
  color: #777;
}

.contact__container {
  padding: 1rem;
  border-radius: 10px;
}

.contact__title {
  font-size: 2.75rem;
  font-weight: 600;
  margin-top: 5rem;
}

.form__control {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form__label {
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--black);
}

.form__input {
  background-color: #fff;
  padding: 2rem 0.5rem 1rem 0.5rem;
  border-radius: 5px;
  border: 2px solid #333;
  transition: all 0.2s ease;
  outline: 4px solid transparent;
}

.form__input:focus {
  border-color: #eb2e24;
  outline: 3px solid rgba(235, 46, 36, 0.2);
}

.form__input::placeholder {
  font-size: 1.75rem;
  color: #777;
}

.copyright {
  padding: 1rem 0;
  font-size: 1.75rem;
  text-align: center;
  background-color: #fff;
}

.copyright p {
  margin-top: 1rem;
}
