.header {
  display: flex;
  flex-direction: column;
}

.header__container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "title login-button"
    "search search";
}

.header__title {
  grid-area: title;
  width: fit-content;
  display: grid;
  place-items: center;
  margin-right: auto;
}

.header__logo {
  height: 38px;
}

.header__login-button,
.header__logout-form {
  grid-area: login-button;
  align-self: center;
}

.header__login-button,
.header__logout-button {
  font-weight: 500;
  font-size: 2rem;
  margin-left: 2rem;

  color: var(--warning);
}

.header__search {
  grid-area: search;
  display: flex;
  align-items: center;
  min-width: 50%;
  padding: 0.75rem 1rem;
  border-radius: 25px;

  border: var(--border);
  margin: 2rem 0 1rem 0;
}

.search {
  width: 100%;
  height: 100%;
  padding-left: 0.75rem;
  font-size: 1.75rem;
}

.search::placeholder {
  font-size: 1.75rem;
}

.button-search {
  display: flex;
  align-items: center;
}

.button-search svg {
  width: 90%;
  stroke: var(--text-color-6);
}
