.login {
  background-color: rgb(235, 46, 36, 0.03);
  padding: 3rem 0;
  min-height: 70vh;
}

.login__title {
  font-size: 3rem;
  font-weight: 600;
  margin: 5rem 0 8rem 0;

  text-align: center;
}

.login .form__input {
  font-size: 1.75rem;
}

.header__login-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header__login-button .button-icon {
  display: none;
  stroke: none;
  fill: #aaa;
  width: 28px;
}

.login__login-button {
  background-color: rgb(235, 46, 36);
  font-size: 1.75rem;
}
