.h-products__header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.h-products__title {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 1rem 0;
}

.h-product__list {
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
}

.h-product__list .product__item {
  width: 100%;
  height: 100%;
}

.h-product__list .product__card {
  flex-direction: row;
  width: auto;
  height: 100%;
  gap: 1rem;
  padding: 1rem 0;
}

.h-product__list .product__data {
  flex: 1;
}

.h-product__list .product__img {
  margin: 0;
}

.h-product__list .product__info {
  flex: 1;
  margin-top: 2rem;
}

.h-product__list .product__price {
  position: static;
  background-color: transparent;
  box-shadow: none;
  color: var(--text-color-1);
  padding: 0;
  font-size: 2.5rem;
  font-weight: 600;
}

.h-product__list .product__title {
  font-size: 2.25rem;
  line-height: 135%;
  margin: 1rem 0;
}

.product__control {
  font-size: 1.75rem;
  display: flex;
  flex: 1;
  box-shadow: var(--shadow);
}

.product__delete-button,
.product__edit-button {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 5px;
}

.product__edit-button {
  color: #222;
  padding: 1rem;
  text-align: center;
  justify-content: center;
  flex: 1;
  border: var(--border);
  padding: 1rem 0.5rem;
  border-radius: 5px 0 0 5px;
  border-right: 0px;
}

.product__edit-button svg {
  stroke: none;
  fill: var(--gray-800);
}

.product__delete-button {
  padding: 0.5rem 1rem;
  height: 100%;
  background-color: var(--warning);
  border-radius: 0 5px 5px 0;
}

.product__delete-button svg {
  stroke: none;
  fill: var(--text-color-4);
  width: 30px;
  height: auto;
}

.remove {
  transition: all 0.5s ease;
  opacity: 0;
}
