.product__list {
  display: flex;
  padding: 1rem 0;
  overflow-x: scroll;
  gap: 2rem;
}

.product__list::-webkit-scrollbar {
  display: none;
}

.product__card {
  width: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 1rem;

  position: relative;
}

.product__img {
  border-radius: 10px;
  box-shadow: 1px 10px 10px -10px rgba(0, 0, 0, 0.345);
  width: 174px;
  height: 176px;
}

.product__title {
  font-size: 2rem;
  margin: 1.5rem 0;
  overflow-wrap: break-word;
  color: #555;
}

.product__price {
  font-size: 2rem;
  font-weight: 500;
  flex: 1;
  background-color: rgb(235, 46, 36);

  width: fit-content;
  border-radius: 5px;
  color: #f2f2f2;
  padding: 0.5rem 0.75rem;

  box-shadow: 1px 10px 10px -10px rgba(0, 0, 0, 0.345);

  position: absolute;
  right: 0;
  top: -0.5rem;
}
